@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
  @apply m-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-display: "Outfit", sans-serif;
  --color-primary: oklch(0.432 0.095 166.913);
  --color-secondary: oklch(0.992 0.0058 333.98);
}

html, body, #app {
  @apply h-full font-display;
}

.leaflet-container {
  @apply h-full w-full font-display;
}

.leaflet-marker-icon {
  @apply hue-rotate-45;
}